<div class="answer">
    <img class="avatar" src="assets/images/no_avatar.png" alt="{{ answer.user.name }}">
    <div class="right-block">
        <div class="info">
            <h4>{{ answer.user.name }}</h4>
            <div class="date">{{answer.created_at}}</div><br>
            <a href="mailto:{{ answer.user.email }}" class="email">{{ answer.user.email }}</a>
        </div>
        <div class="buttons">
            <button><img src="assets/images/pen.png" alt="edit"></button>
            <button><img src="assets/images/trash-can.png" alt="delete"></button>
        </div>

        <p class="text">{{ answer.message }}</p>

    </div>

</div>