<div class="answer">
    <img class="avatar" [src]="utilsService.getAvatar(answer.user.avatar)" onError="this.src='assets/images/no_avatar.png'" alt="{{ answer.user.name }}">
    <div class="right-block">
        <div class="info">
            <h4>{{ answer.user.name }}</h4>
            <div class="date">{{answer.created_at | date:"dd.MM.yyyy"}}</div><br>
            <a href="mailto:{{ answer.user.email }}" class="email">{{ answer.user.email }}</a>
        </div>
        <div *ngIf="currentUser.is_admin || answer.user_id == currentUser.id" class="buttons">
            <button><img src="assets/images/trash-can.png" alt="delete"></button>
        </div>

        <p class="text">{{ answer.message }}</p>

    </div>

</div>