$blue: #070C27;
$red: #FF4040;
$white: #ffffff;
$gray: #797FA5;
header {
    width: 100%;
    height: 70px;
    background: $blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    h2 {
        margin: auto;
        margin-left: 38px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: $white;
    }
    .links {
        margin: auto;
        margin-right: 40px;
        // width: 110px;
        a {
            // margin: auto;
            display: inline-block;
            vertical-align: middle;
            width: fit-content;
            height: fit-content;
            .notific {
                width: 30px;
                height: 30px;
                margin-top: 10px;
            }
            .alert {
                position: relative;
                left: 17px;
                bottom: 15px;
                z-index: 1;
                margin: 0;
                width: 12px;
                height: 12px;
                background: $red;
                border-radius: 100px;
                // border: 1px solid $white;
            }
            .avatar {
                margin-left: 40px;
                width: 40px;
                height: 40px;
                border-radius: 100px;
            }
        }
    }
}