<header>
    <h2>Guest Book</h2>

    <div class="links">
        <div class="user">
            <!-- <img class="ava" src="assets/images/ava.png" alt="no_avatar"> -->
            <!-- <img class="ava" src="{{ currentUserPic }}" alt="no_avatar"> -->
            <img class="ava" src="{{ currentUser.avatar }}" alt="no_avatar">
            <h5 class="name">{{ currentUser.name }}</h5>
        </div>
        <a class="notific" href="#">
            <img class="bell" src="assets/images/bell.png" alt="bell">
            <div class="alert"></div>
        </a>

        <a class="log-out-link" href="#">
            <img class="log-out" src="assets/images/log-out.png" alt="logout">
        </a>
    </div>
</header>