<header>
    <h2>Guest Book</h2>

    <div class="links">

        <!-- <h5>Username</h5>
        <img class="avatar" src="assets/images/ava.png" alt="no_avatar"> -->
        <div class="user">
            <img class="ava" src="assets/images/ava.png" alt="no_avatar">
            <h5 class="name">Username</h5>
        </div>
        <a class="notific" href="#">
            <img class="bell" src="assets/images/bell.png" alt="bell">
            <div class="alert"></div>
        </a>

        <a class="log-out-link" href="#">
            <img class="log-out" src="assets/images/log-out.png" alt="logout">
        </a>
    </div>
</header>