<header>
    <h2>Guest Book</h2>

    <div class="links" *ngIf="currentUser">
        <div class="user">
            <img class="ava" [src]="utilsService.getAvatar(currentUser.avatar)" onError="this.src='assets/images/no_avatar.png'" alt="{{ currentUser.name }}">
            <h5 class="name">{{ currentUser.name }}</h5>
        </div>
        <a class="notific" href="#">
            <img class="bell" src="assets/images/bell.png" alt="bell">
            <div class="alert"></div>
        </a>

        <a class="log-out-link" href="#" (click)="logOut()">
            <img class="log-out" src="assets/images/log-out.png" alt="logout">
        </a>
    </div>
</header>