@import "variables";
.modal-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 320px;
    height: 120px;
    background-color: $white;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    h2 {
        font-weight: normal;
        color: $gray;
        margin-bottom: 10px;
    }
    p {
        color: $gray;
        margin-bottom: 10px;
    }
    .action-block {
        button:active,
         :hover,
         :focus {
            outline: 0;
            outline-offset: 0;
            filter: brightness(60%);
        }
        .delete {
            margin-top: 20px;
            cursor: pointer;
            width: 130px;
            height: 40px;
            background-color: $red;
            border: none;
            border-radius: 5px;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: $white;
        }
        .cancel {
            margin-top: 20px;
            cursor: pointer;
            width: 130px;
            height: 40px;
            background-color: $gray;
            border: none;
            border-radius: 5px;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: $white;
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 560px) {
    .modal-container {
        width: 420px;
        height: 220px;
        padding: 10px;
        h2 {
            font-size: 28px;
        }
        p {
            font-size: 18px;
        }
        .delete {
            width: 230px;
            height: 80px;
            font-size: 18px;
        }
        .cancel {
            width: 230px;
            height: 80px;
            font-size: 18px;
        }
    }
}