<li class="comment">
    <img class="avatar" [src]="utilsService.getAvatar(comment.user.avatar)" onError="this.src='assets/images/no_avatar.png'" [alt]="comment.user.name">
    <div class="right-block">
        <div class="info">
            <h4>{{ comment.user.name }}</h4>
            <div class="date">{{comment.created_at | date:"dd.MM.yyyy"}}</div><br>
            <a href="mailto:{{ comment.user.email }}" class="email">{{ comment.user.email }}</a>
        </div>
        <div *ngIf="currentUser.is_admin || currentUser.id == comment.user.id" class="buttons">
            <button *ngIf="!comment.answers_count" (click)="showEditModal()"><img src="assets/images/pen.png" alt="edit"></button>
            <button (click)="showModal()"><img src="assets/images/trash-can.png" alt="delete"></button>
        </div>

        <div class="message">
            <h3 class="title">{{ comment.title }}</h3>
            <p class="text"> {{ comment.message }}</p>
        </div>

        <div *ngIf="currentUser.is_admin || currentUser.id == comment.user.id" class="add-answer">
            <img [src]="utilsService.getAvatar(currentUser.avatar)" onError="this.src='assets/images/no_avatar.png'" alt="">
            <form (ngSubmit)="addAnswer()" [formGroup]="addAnswerForm" name="answer-block" method="post">
                <textarea formControlName="message" name="answer" rows="2" placeholder="Add comment..." maxlength="65535"></textarea>
                <input type="submit" value="Add">
            </form>
        </div>

        <a class="answers-link" *ngIf="comment.answers_count" (click)="toggle(comment)">Comments ({{ comment.answers_count }}) 
            <fa-icon [icon]="faCaretUp" rotate="{{ arrowAngle }}" size="2x" transform="down-4"></fa-icon>
        </a>

        <div *ngIf="answersList && isAnswersListVisible" class="answer">
            <app-answer *ngFor="let answer of answersList.data | paginate: paginationConfig" [answer]="answer" [currentUser]="currentUser" (deleted)="deleteAnswer($event)"></app-answer>
            <pagination-controls *ngIf="paginationConfig.totalItems > paginationConfig.itemsPerPage" class="my-pagination" [previousLabel]="'prev'" [nextLabel]="'next'" (pageChange)="onPageChange($event)" [id]="comment.id">
            </pagination-controls>
        </div>
    </div>

</li>

<app-modal-dialog *ngIf="isModalDialogVisible" [title]="modalTitle" [message]="modalMessage" (isConfirmed)="closeModal($event, comment)"></app-modal-dialog>
<app-edit-comment-dialog *ngIf="isEditDialogVisible" [title]="comment.title" [message]="comment.message" (isConfirmed)="closeEditModal($event, comment)"></app-edit-comment-dialog>