<li class="comment">
    <span>
        <strong>Title: {{ comment.title }}</strong>
    </span>
    <p>Message: {{ comment.message }}</p>
    <button (click)="updateComment(comment)">Update</button>
    <button (click)="deleteComment(comment)">Delete</button>
    <a *ngIf="comment.answers_count" (click)="showAnswersList(comment)">See comments ({{ comment.answers_count }})</a>

    <div *ngIf="answersList" class="answer">
        <app-answer *ngFor="let answer of answersList.data | paginate: paginationConfig" [answer]="answer"></app-answer>
        <pagination-controls (pageChange)="onPageChange($event)" [id]="comment.id"></pagination-controls>
    </div>
</li>
