<li class="comment">
    <img class="avatar" src="assets/images/no_avatar.png" alt="{{ comment.user.name }}">
    <div class="right-block">
        <div class="info">
            <h4>{{ comment.user.name }}</h4>
            <div class="date">{{comment.created_at}}</div><br>
            <a href="mailto:{{ comment.user.email }}" class="email">{{ comment.user.email }}</a>
        </div>
        <div class="buttons">
            <button (click)="updateComment(comment)"><img src="assets/images/pen.png" alt="edit"></button>
            <!-- <button (click)="deleteComment(comment)"><img src="assets/images/trash-can.png" alt="delete"></button> -->
            <button (click)="showModal()"><img src="assets/images/trash-can.png" alt="delete"></button>
        </div>

        <div class="message">
            <h3 class="title">{{ comment.title }}</h3>
            <p class="text"> {{ comment.message }}</p>
        </div>

        <button (click)=addAnswer()>add answer</button>

        <a class="answers-link" *ngIf="comment.answers_count" (click)="showAnswersList(comment)">Comments ({{ comment.answers_count }}) 
            <img class="opened" src="assets/images/triangle.png" alt="show answers">
        </a>

        <div *ngIf="answersList" class="answer">
            <app-answer *ngFor="let answer of answersList.data | paginate: paginationConfig" [answer]="answer"></app-answer>
            <pagination-controls (pageChange)="onPageChange($event)" [id]="comment.id"></pagination-controls>
        </div>
    </div>

</li>

<app-modal-dialog *ngIf="isModalDialogVisible" [message]="modalMessage" (isConfirmed)="closeModal($event, comment)"></app-modal-dialog>