$blue: #070C27;
$red: #FF4040;
$white: #ffffff;
$gray: #797FA5;
.reg-form {
    margin: 50px auto;
    width: fit-content;
    padding: 20px;
    border: 0;
    background: $white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    form {
        display: flex;
        flex-direction: column;
        .wrong-data {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            color: $red;
            font-size: 12px;
            height: 40px;
            background: $white;
            border: 1px solid $red;
            border-radius: 5px;
        }
        h2 {
            display: flex;
            justify-content: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            color: $blue;
            font-size: 18px;
        }
        .avatar {
            margin: 20px auto 0;
            width: 100px;
            height: 100px;
            border-radius: 100px;
        }
    }
    label {
        .titles {
            .error {
                margin-left: auto;
                p {
                    color: $red;
                }
            }
            .img-name {
                display: block;
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                color: $red;
                margin-top: 10px;
            }
        }
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        p {
            margin-bottom: 10px;
            font-size: 12px;
            color: $blue;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
        }
    }
    .text-input {
        width: 300px;
        padding-left: 5px;
        height: 35px;
        border: none;
        background: $white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    .required {
        box-shadow: 0px 0px 5px $red;
    }
    .reg-btn {
        height: 35px;
        margin-top: 20px;
        width: 100%;
        color: $white;
        border-radius: 5px;
        border: none;
        background-color: $blue;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
    }
    .reg-link {
        color: $gray;
        font-family: Arial;
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        text-transform: uppercase;
    }
    .reg-link:hover {
        cursor: pointer;
        color: $blue;
    }
    .img-add-btn {
        padding: 8px;
        color: $blue;
        border-radius: 5px;
        border: none;
        background-color: $gray;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
    }
    .select-img {
        display: flex;
        flex-direction: row;
    }
    .fl_upld {
        width: 120px;
    }
    #fl_inp {
        display: none;
    }
    .fl_upld label {
        margin: 0 0 0 auto;
        cursor: pointer;
        background: $gray;
        border-radius: 5px;
        padding: 10px 0;
        color: $blue;
        text-align: center;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
    }
    .fl_upld label:hover {
        cursor: pointer;
        filter: brightness(60%);
    }
    #delete {
        width: 40px;
        margin-left: 5px;
    }
    #delete[value="&times;"] {
        width: 50px;
        height: 50px;
    }
    .reg-btn:hover {
        cursor: pointer;
        filter: brightness(60%);
    }
    .img-add-btn:hover {
        cursor: pointer;
        filter: brightness(60%);
    }
    form:active,
     :hover,
     :focus {
        outline: 0;
        outline-offset: 0;
    }
}

@media screen and (max-width: 560px) {
    .reg-form {
        width: 60%;
        form {
            .wrong-data {
                font-size: 18px;
            }
            h2 {
                font-size: 22px;
            }
        }
        label {
            .titles {
                .error {
                    p {
                        font-size: 18px;
                    }
                }
                .img-name {
                    font-size: 18px;
                }
            }
            p {
                font-size: 18px;
            }
        }
        .text-input {
            width: 100%;
            padding-left: 5px;
            height: 50px;
        }
        .reg-btn {
            height: 50px;
            font-size: 18px;
        }
        .reg-link {
            font-size: 18px;
        }
        .img-add-btn {
            font-size: 18px;
        }
        .fl_upld label {
            font-size: 18px;
        }
        #delete[value="&times;"] {
            width: 70px;
            height: 70px;
        }
    }
}