<div class="reg-form">
    <form (ngSubmit)="submit()" [formGroup]="form">
        <h2>Registration form</h2>
        <div class="wrong-data">
            <p *ngFor="let error of errors">{{ error }}</p>
        </div>

        <img [src]="imgUrl" class="avatar">
        <label>
                <div class="titles">
                 <p>Profile Image {{ selectedFile?.name }}</p>
                </div>
                </label>
        <!-- <input type="text" class="text-input" size="50"> -->
        <span>
         <input type="file" style="display: none" (change)="onFileSelected($event)" accept=".png, .jpeg, .bmp" #fileInput>
         <input type="button" (click)="fileInput.click()" class="img-add-btn" value="Select image">

         <input type="button" (click)="deleteImg()" class="img-add-btn"  id="delete" value="&times;">
        </span>

        <label>
            <div  class="titles">
                <p>Name</p> 
            </div>
            <input type="text" class="text-input" [class.required]="isNameInvalid" formControlName="name" maxlength="255"  required>
        </label>
        <label>
            <div  class="text">
                <p>Email</p> 
            </div>
            <input type="text" class="text-input" [class.required]="isEmailInvalid" formControlName="login" maxlength="255"  required>
        </label>
        <label>
            <div  class="titles">
                <p>Password</p> 
            </div>
            <input type="password" class="text-input" [class.required]="isPasswordInvalid" formControlName="password" maxlength="255" minlength="8" required>
        </label>
        <label>
            <div  class="titles">
                <p>Password confirmation </p> 
            </div>
            <input type="password" class="text-input" [class.required]="isPasswordConfirmInvalid" formControlName="passwordConfirm" maxlength="255" minlength="8" required>
        </label>
        <button class="reg-btn" type="submit">Register</button>
        <a class="reg-link" href="auth/login">Log in</a>
    </form>
</div>