<div class="reg-form">
    <form>
        <h2>Registration form</h2>
        <!-- <div class="wrong-data">
            Wrong email or password!
        </div> -->

        <img src="assets/images/no_avatar.png" class="avatar">
        <label>
                <div class="titles">
                 <p>Profile Image</p>
                </div>
                </label>
        <!-- <input type="text" class="text-input" size="50"> -->
        <span>
         <input type="button" name="submit" class="img-add-btn" value="Select image">
         <input type="button" name="submit" class="img-add-btn"  id="delete" value="&times;">
        </span>



        <label>
            <div  class="titles">
                <p>Name</p> 
            </div>
            <input type="text" class="text-input"  required>
        </label>
        <label>
            <div  class="text">
                <p>Email</p> 
            </div>
            <input type="password" class="text-input"  required>
        </label>
        <label>
            <div  class="titles">
                <p>Password</p> 
            </div>
            <input type="password" class="text-input"  required>
        </label>
        <label>
            <div  class="titles">
                <p>Password confirmation </p> 
            </div>
            <input type="password" class="text-input"  required>
        </label>
        <button class="reg-btn" type="submit">Register</button>

    </form>

</div>