<!-- <p>Comments: </p>
<div>
    <div>
        <form (ngSubmit)="addComment()" [formGroup]="addCommentForm">
            <h2>Add comment</h2>
            <label>
                <p>title</p> 
                <input type="text" formControlName="title" maxlength="255">
            </label>
            <label>
                <p>message</p> 
                <input type="text" formControlName="message" maxlength="65535">
            </label>
            <button type="submit">add</button>
        </form>
    </div>

    <ul *ngIf="commentsList; else noComments">
        <li class="comment" *ngFor="let comment of commentsList.data; let i = index">
            <span>
                <strong>{{ i + 1 }} </strong>
                <strong>Title: {{ comment.title }}</strong>
            </span>
            <p>Message: {{ comment.message }}</p>
            <button (click)="updateComment(comment)">Update</button>
            <button (click)="deleteComment(comment)">Delete</button>
        </li>
    </ul>
    <ng-template #noComments>
        <p class="text-center">No comments yet...</p>
    </ng-template>
</div> -->