<div class="new-entry">
    <img src="{{ currentUserPic }}" alt="{{ currentUserName }}">
    <form (ngSubmit)="addComment()" [formGroup]="addCommentForm" name="entry-block" method="post">
        <input type="text" size="40" placeholder="Title" formControlName="title" maxlength="255">
        <textarea name="entry" rows="6" placeholder="New entry..." formControlName="message" maxlength="65535"></textarea>
        <input type="submit" value="Add">
    </form>
</div>



<p>Comments: </p>
<div>
    <ul *ngIf="commentsService.commentsList; else noComments">
        <app-comment *ngFor="let comment of commentsService.commentsList.data" [comment]="comment"></app-comment>
    </ul>

    <ng-template #noComments>
        <p class="text-center">No comments yet...</p>
    </ng-template>
</div>