<div class="book-anim">
    <img src="assets/images/book_anim.gif" alt="book_animation">
</div>

<div class="container">
    <div class="new-entry">
        <img class="avatar" [src]="utilsService.getAvatar(currentUser.avatar)" onError="this.src='assets/images/no_avatar.png'" [alt]="currentUser.name">
        <div class="right-block">
            <form (ngSubmit)="addComment()" [formGroup]="addCommentForm" name="entry-block" method="post">
                <input type="text" size="40" placeholder="Title" formControlName="title" maxlength="255">
                <textarea name="entry" rows="6" placeholder="New entry..." formControlName="message" maxlength="65535"></textarea>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</div>


<div class="comments">
    <ul *ngIf="commentsService.commentsList; else noComments">
        <app-comment *ngFor="let comment of commentsService.commentsList.data | paginate: paginationConfig" [comment]="comment" [currentUser]="currentUser"></app-comment>
        <pagination-controls 
            class="my-pagination" 
            [previousLabel]="'prev'"
            [nextLabel]="'next'" 
            (pageChange)="onPageChange($event)">
        </pagination-controls>
    </ul>

    <ng-template #noComments>
        <p class="text-center">No comments yet...</p>
    </ng-template>
</div>

<template #notificationContainer></template>