ul {
    list-style: none;

    li {
        margin-bottom: 40px;
        padding: 20px;
        border: 1px solid #c7c7c7;
        width: 450px;

        a {
            display: block;
            margin-top: 20px;
        }
    }
}